{% extends "base.html" %}
{% block title %}Admin Portal{% endblock %}

{% block content %}
    <div class="w-75 mt-4 mx-auto">
        <div class="row">
            {% if online_users %}
                <div class="col">
                    <ul class="list-group">
    {#                    {% for history_log in history_logs %}#}
    {#                        <a href="{{ url_for('profile_view', username=history_log.notif_username) }}">#}
    {#                            <li class="list-group-item">#}
    {#                                {{ history_log.message }}#}
    {#                                <div class="float-right">#}
    {#                                    {{ history_log.logged_timestamp }}#}
    {#                                </div>#}
    {#                            </li>#}
    {#                        </a>#}
    {#                    {% endfor %}#}
                    </ul>
                </div>
            {% endif %}
            {% if block_requests %}
                <div class="col">
                    <ul class="list-group">
                        {% if block_requests %}
                            {% for request in block_requests %}

                                    <li class="list-group-item">
                                        User {{ request.user_blocking }} requested to block {{ request.blocked_user }}
                                        <div class="float-right">
                                            Status: {{ request.processed }}
                                        </div>
                                    </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">
                                No Current Block Requests
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <form action="{{ url_for('admin_logout') }}">
        <button type="submit" class=" mr-4 btn">Logout</button>
    </form>
{% endblock %}