{% extends "base.html" %}
{% block title %}Admin Login{% endblock %}

{%  block content %}
   <div class="content-section w-50 mx-auto mt-5">
        <div class="form-container">
            <form method="POST" action="/admin_login">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Admin Login</legend>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}

                        {% if form.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}

                        {% if form.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info mt-2") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <form action="{{ url_for('splash') }}">
        <button type="submit" class=" mr-4 btn">Splash</button>
    </form>
{% endblock %}