{% extends "base.html" %}
{% block title %}Forogt Password{% endblock %}

{% block content %}
    <div class="content-section w-50 mx-auto mt-5">
        <div class="form-container">
            <form method="POST" action="{{ url_for('forgot_password') }}">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Forgot Password</legend>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}

                        {% if form.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info mt-2") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}