{% extends "base.html" %}
{% block title %}Profile View{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="{{ url_for('home') }}">Home</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More Info
                </a>    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Notifications</a>
                    <a class="dropdown-item" href="{{ url_for('history') }}">History</a>
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="#">Something else here</a>#}
                </div>
                </li>
                {% if session['logged_in'] %}
                    <li class="nav-item"> <a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
            <div class="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile_update') }}">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% if history_logs %}
        <h1>HISTORY</h1>
        {% for history_log in history_logs %}
            <h3><a href="{{ url_for('profile_view', username=history_log.notif_username) }}">{{ history_log.message }}</a></h3>
        {% endfor %}
    {% else %}
        <h1>No History</h1>
    {% endif %}
{% endblock %}