{% extends "base.html" %}

{% block title %}Homepage{% endblock %}
{% block nav %}
         <nav class="navbar navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="#">Home</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
{#                    <li class="nav-item active">    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
                    </li>
{#                    <li class="nav-item">   <a class="nav-link" href="#">Link</a>#}
{#                    </li>#}
                    <li class="nav-item dropdown">  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More Info
                    </a>    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('history') }}">History </a>
                        <a class="dropdown-item" href="#">Notifications</a>
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item" href="#">Something else here</a>#}
                    </div>
                    </li>
                   {% if session['logged_in'] %}
                       <li class="nav-item"> <a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                   {% endif %}
                </ul>
                <div class="">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('profile_update') }}">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
     </nav>
{% endblock %}

{% block content %}
{#    <h1>{{ username }}</h1>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script> let username = '{{ username }}'</script>
    <script src="{{ url_for('static', filename='socket.js') }}"></script>
{#    <input type="text" id="notification_message">#}
{#    <button id="send_notification_message">Send Notification</button>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    Message: <input type="text" id="private_message">#}
{#    Username: <input type="text" id="send_to_username">#}
{#    <button id="send_private_message">Send Pvt Message</button>#}

    <div class="container mx-auto mt-3" align="center">
       <ul class="nav nav-tabs w-100">
           <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#All">All</a></li>
           <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#Fame">Fame</a></li>
           <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#Sex-Preference">Sex Preference</a></li>
           <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#Interests">Interests</a></li>
       </ul>
    </div>

    <div class="container mx-auto mt-3" align="center">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="All">
               <div class="mx-auto w-75 mt-5">
                    <div class="list-group">
                        {% if suggestions %}
                            {% for suggestion in suggestions %}
                                {% if suggestion.username not in blocked_list %}
                                    <div class="list-group mb-3 suggestion">
                                        <a href="{{ url_for('profile_view', username=suggestion.username) }}" class="list-group-item-action flex-column align-items-start">
                                             <div class="row">
                                                 <div class="list-group-item w-100 list-group-item-action">
                                                     <div class="d-flex w-100 justify-content-between">
                                                        <img src="{{ url_for('static', filename='img/' + suggestion.profile_pic) }}" alt="..." class="img-thumbnail thumb-pic">
                                                        <h5 class="mb-1">{{ suggestion.username }}</h5>
                                                        {% if suggestion.last_online == "Online" %}
                                                           <small class="text-info">{{ suggestion.last_online }}</small>
                                                        {% else %}
                                                           <small class="text-danger">Last Seen : {{ suggestion.last_online }}</small>
                                                        {% endif %}
                                                    </div>
                                                 </div>
                                             </div>
                                            <div class="row">
                                                <div class="list-group-item w-100">
                    {#                                <p class="mb-1">{{ suggestion.bio }}</p>#}
                                                    <small>{{ suggestion.gender }} - {{ suggestion.sex_orientation }}</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Fame">
                <div class="mx-auto w-75 mt-5">
                    <div class="list-group">
                        {% if fames %}
                            {% for fame in fames %}
                                {% if fame.username not in blocked_list %}
                                    <div class="list-group mb-3 suggestion">
                                        <a href="{{ url_for('profile_view', username=fame.username) }}" class="list-group-item-action flex-column align-items-start">
                                             <div class="row">
                                                 <div class="list-group-item w-100 list-group-item-action">
                                                     <div class="d-flex w-100 justify-content-between">
                                                        <img src="{{ url_for('static', filename='img/' + fame.profile_pic) }}" alt="..." class="img-thumbnail thumb-pic">
                                                        <h5 class="mb-1">{{ fame.username }}</h5>
                                                        {% if fame.last_online == "Online" %}
                                                           <small class="text-info">{{ fame.last_online }}</small>
                                                        {% else %}
                                                           <small class="text-danger">Last Seen : {{ fame.last_online }}</small>
                                                        {% endif %}
                                                    </div>
                                                 </div>
                                             </div>
                                            <div class="row">
                                                <div class="list-group-item w-100">
                    {#                                <p class="mb-1">{{ suggestion.bio }}</p>#}
                                                    <small>{{ fame.gender }} - {{ fame.sex_orientation }}</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Sex-Preference">
                <div class="mx-auto w-75 mt-5">
                    <div class="list-group">
                        {% if sexuals %}
                            {% for sexual in sexuals %}
                                {% if sexual.username not in blocked_list %}
                                    <div class="list-group mb-3 suggestion">
                                        <a href="{{ url_for('profile_view', username=sexual.username) }}" class="list-group-item-action flex-column align-items-start">
                                             <div class="row">
                                                 <div class="list-group-item w-100 list-group-item-action">
                                                     <div class="d-flex w-100 justify-content-between">
                                                        <img src="{{ url_for('static', filename='img/' + sexual.profile_pic) }}" alt="..." class="img-thumbnail thumb-pic">
                                                        <h5 class="mb-1">{{ sexual.username }}</h5>
                                                        {% if sexual.last_online == "Online" %}
                                                           <small class="text-info">{{ sexual.last_online }}</small>
                                                        {% else %}
                                                           <small class="text-danger">Last Seen : {{ sexual.last_online }}</small>
                                                        {% endif %}
                                                    </div>
                                                 </div>
                                             </div>
                                            <div class="row">
                                                <div class="list-group-item w-100">
                    {#                                <p class="mb-1">{{ suggestion.bio }}</p>#}
                                                    <small>{{ sexual.gender }} - {{ sexual.sex_orientation }}</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Interests">
                <div class="mx-auto w-75 mt-5">
                    <div class="list-group">
                        {% if interests %}
                            {% for interest in interests %}
                                {% if interest.username not in blocked_list %}
                                    <div class="list-group mb-3 suggestion">
                                        <a href="{{ url_for('profile_view', username=interest.username) }}" class="list-group-item-action flex-column align-items-start">
                                             <div class="row">
                                                 <div class="list-group-item w-100 list-group-item-action">
                                                     <div class="d-flex w-100 justify-content-between">
                                                        <img src="{{ url_for('static', filename='img/' + interest.profile_pic) }}" alt="..." class="img-thumbnail thumb-pic">
                                                        <h5 class="mb-1">{{ interest.username }}</h5>
                                                        {% if interest.last_online == "Online" %}
                                                           <small class="text-info">{{ interest.last_online }}</small>
                                                        {% else %}
                                                           <small class="text-danger">Last Seen : {{ interest.last_online }}</small>
                                                        {% endif %}
                                                    </div>
                                                 </div>
                                             </div>
                                            <div class="row">
                                                <div class="list-group-item w-100">
                    {#                                <p class="mb-1">{{ suggestion.bio }}</p>#}
                                                    <small>{{ interest.gender }} - {{ interest.sex_orientation }}</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block footer %}
    <small class="mr-4">Logged in as : {{ username }}</small>
{% endblock footer %}